body {
    background-image: url(../images/xwing-starwars.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.section-title {
    font-size: 200%;
}

.title-section {
    font-size: 300%;
    text-align: center;
}